// src/Category.scss
.category {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;

  h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Protest Guerrilla", sans-serif;
  }

  .category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;

    .category-item {
      border-radius: 20px;
      width: 15%; /* Adjust width as needed */
      border: 1px solid #ccc;
      padding: 10px;
      box-sizing: border-box;
      text-align: center;
      position: relative;
      overflow: hidden;
      min-height: 150px; /* Set a minimum height */
      display: flex;
      flex-direction: column;
      transition: transform 1s;
      transform-style: preserve-3d;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.404);

      &:hover {
        transform: rotateY(-20deg);
        transition: 0.5s ease-in-out;
        box-shadow: 0 70px 70px 5px #777;
      }

      .animationData1 {
        max-width: 100%;
        height: auto;
        border: 1px solid #c12626;
        border-top-left-radius: 45px;
        border-bottom-right-radius: 45px;
        margin-bottom: 10px;
        backface-visibility: hidden;
      }
      .category-title-box {
        display: flex;
        background: rgb(253, 253, 253);
        justify-content: center;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.404);
        border-radius: 5px;
        margin-top: 25px;
      }
      .category-title {
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .category-title-text {
        font-size: 15px;
        align-items: center;
        margin: 15px 5px;
        @media (max-width: 1760px) {
          font-size: 15px;
        }
        @media (max-width: 1660px) {
          font-size: 15px;
        }
        @media (max-width: 1560px) {
          font-size: 10px;
        }
        @media (max-width: 1460px) {
          font-size: 10px;
        }
        @media (max-width: 1360px) {
          font-size: 10px;
        }
        @media (max-width: 1260px) {
          font-size: 10px;
        }
        @media (max-width: 1060px) {
          font-size: 10px;
        }
        @media (max-width: 960px) {
          font-size: 10px;
        }
        @media (max-width: 860px) {
          font-size: 10px;
        }
        @media (max-width: 760px) {
          font-size: 10px;
        }
        @media (max-width: 660px) {
          font-size: 10px;
        }
        @media (max-width: 560px) {
          font-size: 10px;
        }
        @media (max-width: 460px) {
          font-size: 10px;
        }
        @media (max-width: 360px) {
          font-size: 10px;
        }
      }

      .category-icon {
        margin-right: 5px;
        font-size: 1.5rem;
      }

      a {
        font-family: "Rubik Dirt", system-ui;
        justify-content: center;
        display: flex;
        text-align: center;
        align-items: center;
        color: #777;
        text-decoration: none;
      }

      span {
        text-decoration: none;
        font-weight: 700;
        color: #222;
        font-size: 1rem;
        margin-top: auto;
        padding-right: 15px; /* Add some padding for readability */
      }

      .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform: rotateY(20deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #d12020;
      }
    }
  }
}

.category-bottom {
  // display: flex;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  padding: 15px 160px;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #3498db;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.6s ease-in-out;
    border-radius: 50%;
    z-index: 0;
    opacity: 0;
  }

  &:hover:before {
    opacity: 1;
    width: 0;
    height: 0;
  }

  &:hover {
    box-shadow: 0 0 15px 3px #3498db;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.6s ease-in-out;
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }
}

@media only screen and (max-width: 860px) {
  h2 {
    font-size: 3rem;
  }

  .category {
    .category-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .category-item {
        width: 30%; /* Adjust width as needed */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.2rem3;
        .category-icon {
          width: 20px;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 0.2rem3;
        }

        a {
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 0.2rem3;
          color: #777;
        }

        span {
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 0.2rem3;
          font-size: 0.5em;
        }
      }

      .category-bottom {
        padding: 15px 130px;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .category-bottom {
    padding: 15px 35px;
  }
}
@media only screen and (max-width: 660px) {
  .category-bottom {
    padding: 10px 30px;
  }
}
@media only screen and (max-width: 460px) {
  .category-bottom {
    padding: 7px 20px;
  }
}
