/* Newsletter.scss */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}



// Add the following styles to your App.scss file

// SIDEBAR LOGO 

.logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;

  .App-logo {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #405007;
    font-size: 1.5rem;
    border-radius: 50%;
  }
}


.SeraLogo {
  font-weight: 600;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
  transform: perspective(500px) rotateX(0deg);
  transition: 1s ease-in-out;

  .Sera{
    border-radius: 30px;
  }



  &:hover {
    transform: perspective(500px) rotateX(20deg);
  }
}


.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.primaryText {
  color: #1f3e72;
  font-weight: bold;
  font-size: 2rem;
}

.secondaryText {
  color: rgb(140 139 139);
  font-size: 0.9rem;
}