// FeaturedType.scss
.fp {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 0px 20px;
}

.fpItem {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.fpImg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px; // Add border-radius for a rounded look
 
  @media (max-width: 860px) {
    width: 80px;
    height: 80px;

  }
  @media (max-width: 760px) {
    width: 70px;
    height: 70px;

  }
  @media (max-width: 460px) {
    width: 50px;
    height: 50px;
  }
}

.fpType {
  font-weight: bold;
}

.fpGroupName {
  font-weight: 300;
}

.fpPrice, .fpPlan {
  font-weight: 500;
}

.fpRating {
  display: flex;
  align-items: center;

  button {
    background-color: aquamarine;
    color: gray;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    padding: 3px;
    margin-top: 10px;
    font-weight: bold;
  }

  span {
    font-size: 14px;
    margin-left: 5px;
  }
}
